
<div class="jumbotron" style="text-align: center;">
    <div class="container">
      <h1 class="display-4 text-danger" style="text-align: center;font-size: 30px;font-weight: 700;">A single platform for all Transport need</h1>
      <p class="lead"><b>We have an innovative, tech-focused and user-friendly platform to provide you with an unbeatable experience.</b></p>
    </div>
  </div>
  <br>
  
  <div class="jumbotron" style="text-align: center;">
    <div class="container">
      <h1 class="display-4"><i class="fa fa-truck" aria-hidden="true">&nbsp;Pickup</i></h1>
      <p class="lead">We provide Pickup service for Pickup Seeds And Goods from Merchant and Farmers From their respective Pickup Location.</p>
    </div>
  </div>
  <br>
  <div class="jumbotron" style="text-align: center;">
    <div class="container">
      <h1 class="display-4"><i class="fa fa-address-book" aria-hidden="true">&nbsp;Delivery</i></h1>
      <p class="lead">We provide Delivery service to Deliver the Goods and Seeds of the Farmers and Merchants to respective Delivery Location</p>
    </div>
  </div>
  <br>
  <div class="jumbotron" style="text-align: center;">
    <div class="container">
      <h1 class="display-4"><i class="fa fa-truck" aria-hidden="true">&nbsp;Transport Vehicle</i></h1>
      <p class="lead">We provide Transportation Service to the Merchants and Farmers.</p>
    </div>
  </div>
