
  
         <section class="headline">
           <h1>Transport System For Farmers</h1>
           <p>TRANSPORTATION OF AGRICULTURAL PRODUCTS.....</p>
         </section>
         <section class="features">
           <div class="feature-container">
             <img src="assets\img\manage.jpg" alt="Flexbox Feature">
             <h2>Manage Easily</h2>
             <p>Account for all your past, present and future shipments in one place.</p>
           </div>
           <div class="feature-container">
             <img src="assets\img\deliver.jpg" alt="Flexbox Feature">
             <h2>Pickup</h2>
             <p>Real time Pickup of Goods and Seeds from anywhere, anytime.</p>
           </div>
           <div class="feature-container">
             <img src="assets\img\pickup.jpg" alt="Flexbox Feature">
             <h2>Delivery</h2>
             <p>Quick and hassle-free online payments are our thing. No hidden costs.</p>
           </div>
         </section>
    
<!--work-->
<br><br>

