<div [hidden]="submitted" style="width: 400px;">
    <form (ngSubmit)="onSubmit()">

      <div class="form-group">
        <label for="id">Farmer Id</label>
        <input type="text" class="form-control" id="id" required [(ngModel)]="farmer.farmerId" name="id">
      </div>
  
      <div class="form-group">
        <label for="name">Farmer Name</label>
        <input type="text" class="form-control" id="name" required [(ngModel)]="farmer.farmerName" name="name">
      </div>

      <div class="form-group">
        <label for="pass">Farmer Password</label>
        <input type="password" class="form-control" id="pass" required [(ngModel)]="farmer.farmerPassword" name="pass">
      </div>
  
      <div class="form-group">
        <label for="mobno">Farmer Mobile No</label>
        <input type="text" class="form-control" id="mobno" required [(ngModel)]="farmer.fMobNo" name="mobno">
      </div>

      <div class="form-group">
        <label for="emailid">Farmer Email</label>
        <input type="email" class="form-control" id="emailid" required [(ngModel)]="farmer.femailId" name="emailid">
      </div>

      <div class="form-group">
        <label for="add">Farmer Address</label>
        <input type="textarea" class="form-control" id="add" required [(ngModel)]="farmer.farmerAddress" name="add">
      </div>
  
      <button type="submit" class="btn btn-success">Submit</button>
    </form>
  </div>
  
  <div [hidden]="!submitted">
    <h4>Farmer Registered Successfully!</h4>
    <!-- <button class="btn btn-success" (click)="newEmployee()">Add</button> -->
  </div>