<div>
  <nav class="navbar" style="background-color: green;">
    <img routerLink="/home" src="https://thumbs.dreamstime.com/b/local-farmer-market-farm-logo-design-vector-illustration-61829047.jpg" alt="" height="80px" style="margin-left: 20px;">
    <a class="brand" routerLink="/home">Transport System For Farmers</a>
    <ul>
      <li>
        <a class="active" routerLink="/home">Home</a>
      </li>

      <li>
        <a routerLink="/about">About</a>
      </li>
      <li>
        <a routerLink="/contact">Contact Us</a>
      </li>
      <li>
        <a routerLink="/service">Our Services</a>
      </li>
      
     
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
          Add Product
        </a>
        <div class="dropdown-menu" style="background-color: green;" >
          <a class="dropdown-item" routerLink="/gadd">Add Goods</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/sadd">Add Seeds</a>
          
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
          Available List
        </a>
        <div class="dropdown-menu" style="background-color: green;" >
          <a class="dropdown-item" routerLink="/flist">Farmer's List</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/mlist">Merchant's List</a>
          <a class="dropdown-item" routerLink="/glist">Good's List</a>
          <a class="dropdown-item" routerLink="/slist">Seed's List</a>
          <a class="dropdown-item" routerLink="/vlist">Vehicle's List</a>

        </div>
      </li>


      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
          Registration
        </a>
        <div class="dropdown-menu" style="background-color: green;" >
          <a class="dropdown-item" routerLink="/fregister">Farmer Register</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/mregister">Merchant Register</a>
          
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
          Login
        </a>
        <div class="dropdown-menu" style="background-color: green;" >
          <a class="dropdown-item" routerLink="/flogin">Farmer Login</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/mlogin">Merchant Login</a>
          
        </div>
      </li>


    </ul>
  </nav>
</div>



