<div style="text-align: center;font-size: 30px;font-weight: 700;" class="text-danger">
    <p>Hello! How can we help?</p>
</div>
<section id="contact" class="contact">
    <div class="container">

      <div class="row justify-content-center" data-aos="fade-up">

        <div class="col-lg-10">

          <div class="info-wrap">
            <div class="row">
              <div class="col-lg-4 info">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <h4>Location:</h4>
                <p>X3XP+6WX, Pargaon Shingave, Shingave, Maharashtra 410504</p>
              </div>

              <div class="col-lg-4 info mt-4 mt-lg-0">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <h4>Email:</h4>
                <p>farmertransportsystemgmail.com<br>contactgmail.com</p>
              </div>

              <div class="col-lg-4 info mt-4 mt-lg-0">
                <i class="fa fa-phone-square" aria-hidden="true"></i>
                <h4>Call:</h4>
                <p>Prathamesh Shinde : +91 7821831523<br>Onkar Wavhal : +91 8208103892</p>
              </div>
            </div>
          </div>

        </div>

      </div>
<br><br><br>
      
<div class="map-section">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3585.830259302729!2d74.08477507497534!3d18.99812168219049!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bdd2f3162b1ebcf%3A0x9f4ef0c4ad8eda60!2sShingave%20pargaon!5e1!3m2!1sen!2sin!4v1705550188219!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
    </div>
  </section>

  <br><br>
