<section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">
      <p class="donate-through-sads text-danger" style="text-align: center; font-size: xx-large;"><b>Thousands of trucks at your fingertips.</b></p>
      <p class="donate-through-sads" style="text-align: center;"><b>This is a India’s pioneer web and app based online Transport Booking platform that connects users to Hire a Truck with a network of thousands Truck drivers for Quick and Prompt Goods Delivery Option, Our Transport Expertise including Full TruckLoad, Part TruckLoad, Door to Door Parce</b></p>
      <div class="row">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box iconbox-blue">
            <div class="fourcol">
              <p><img loading="lazy" style="border-radius: 50%;" class="aligncenter wp-image-820" src="assets\img\about1.jpg" alt="" width="300" height="300" sizes="(max-width: 100px) 100vw, 100px"></p>
              <h5 style="text-align: center;">Pay after loading</h5>
              <p class="why-us" style="text-align: center;">Service guarantee<br>
            </div>
            
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box iconbox-orange ">
            <div class="fourcol">
              <p><img loading="lazy" style="border-radius: 50%;" class="aligncenter wp-image-822" src="assets\img\about2.jpg" alt="" width="300" height="300" sizes="(max-width: 100px) 100vw, 100px"></p>
              <h5 style="text-align: center;">Get verified drivers</h5>
              <p class="why-us" style="text-align: center;">With Secure insurance coverage</p>
              </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box iconbox-pink">
            <div class="fourcol">
              <p><img loading="lazy" class="aligncenter wp-image-824" style="border-radius: 50%;" src="assets\img\about3.jpg" alt="" width="300" height="300" sizes="(max-width: 100px) 100vw, 100px"></p>
              <h5 style="text-align: center;">Door-to-door support</h5>
              <p class="why-us" style="text-align: center;">With tracking & 24/7 support</p>
              </div>
              </div><p></p>
              <div class="wrap-two">
          </div>
        </div>
      </div>

   

  
  <!-- End Services Section -->

